   <link rel="stylesheet" href="/public/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <!-- 头部开始 -->
    <nav>
        <div class="logo">
            <div class="title">BLOG</div>
            <div class="nav-menu" >
                <span id="menu" class="iconfont icon-caidan"></span>
                <span><a href="/home/index">首</a></span>
            </div>
        </div>
        <div class="headePotrait">
            <div class="search" id="search">
                <span class="serach-img">
                    <img src="/public/image/serach.png">
                </span>
                <input id="input" type="text" name="" placeholder="搜索">
            </div>
            <div class="heade" id="heade">
                <span>
                    <img src="/public/image/24.png">
                </span>
                <h6>{{name && name?name.username:'未登录'}}</h6>
                <span id="int" class="iconfont icon-sanjiaoxing1
    "></span>
            <div class="set">
                {{if name}}
                <div>
                    <span class="iconfont icon-company-fill"><a href="#">信息</a></span>
                    
                </div>
                <div>
                    <span class="iconfont icon-shezhi"><a href="#">设置</a></span>
                    
                </div>
                {{/if}}
                <div>
                    <span class="iconfont icon-tuichu"><a href="{{name && name?'/admin/login-out':'/admin/login'}}">{{name && name?'退出':'登录'}}</a></span>
                    
                </div>
            </div>
            </div>
    
        </div>
    </nav>
    <!-- 头部结束 -->